/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
    font-family: 'Roboto', sans-serif !important;
    letter-spacing: 0.05rem;
}

/* Navbar Styling */
.navbar-brand > img{
   width: 3rem;
   height: 3rem;
}

.nav-item > a{
    font-size: 1.1rem !important;
    font-weight: 500;
}

/* Editing Sass variables of bootstrap */
.mr-6 {
    margin-right: 6rem !important;
}

.bg-blue{
    background-color: rgba(61, 102, 247, 0.664) !important;
}

.w-30{
    width: 30%;
}