body{
    display: block;
}

.course_list, .selected_courses{
    border: 2px solid black;
}

/* Styling Select Courses Section */
select.form-control{
    height: 20rem !important;
}

.btn-blue{
    font-size: 1.1rem;
    color: white;
    border: none;
    background-color: rgba(49, 92, 242, 71%);
}

.btn-blue:hover{
    color: white;
}

/* Styling Routine Section*/
.advising_panel2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

td, th, tr{
    border: 1px solid rgba(10, 10, 10, 30%) !important;
}